<div class="container">
    <h2> About Me</h2>
    <div class="well">
        <div class="row">
          <div class="col-xs-6 col-offset-xs-1">
              <%= image_tag("about/logo-glasses.png", class: 'img-responsive', alt: 'logo image I created of my face') %>
          </div>
          <div class="col-xs-6">
          <p>For as long as I can remember, I have been visualizing my
          own little worlds and characters and creating them in my sketchbooks.
          I drew all the time throughout school. My notes were covered with
          these worlds and characters. Once I started college, I was able to
          take classes in drawing and design, giving me the opportunity to
          improve my work. During this time, my love for creating progressed
          to include building and designing websites. I graduated college
          with a bachelor’s degree in Fine Art with an emphasis on graphic design
          </p><p>
          Recently, I have designed book covers, logos, banners, web pages,
          t-shirts, characters, backgrounds, and comic books. 
          I am interested in web development opportunities and commissioned
          work.</p>
          </div>
        </div>
    </div>
</div>