<div class="container">
    <h2> About Me</h2>
    <div class="well">
        <div class="row">
          <div class="col-xs-6">
              
          </div>
          <div class="col-xs-6">
              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
          </div>
        </div>
    </div>
</div>