<div class="container">
    <h2> About Me</h2>
    <div class="well">
        <div class="row">
          <div class="col-xs-6 col-offset-xs-1">
              <%= image_tag("about/logo-glasses.png", class: 'img-responsive', alt: 'logo image I created of my face') %>
          </div>
          <div class="col-xs-6">
          <p>For as long as I can remember I've been creating my own
          little scenes and worlds in my sketchbooks. I drew all the time,
          all over my notes throughout school were My own, Dragon Ball Z
          and Nintendo characters. Then I started taking interest in
          art classes once I hit college, actual classes I was interested in
          taking like drawing, and design classes. What started out as
          something I did instead of studying and paying attention in schools
          has become something I wish to bring to the rest of the world.
          </p><p>
          While bringing my talents to the world, I have designed book covers,
          logo's, banner's, web pages, t-shirts, characters, backgrounds,
          and comic books. I am interested in venturing further out into the
          illustration world, by getting more into children's books.</p>
          </div>
        </div>
    </div>
</div>