<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("digital_illustrations/dinosaur.png", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Dinosaurus</h3>
                <p>Stella was part of a two piece project I did for my Mom, along with another 5 x 6 oil painting of her other Dog, Tessa. The Paintings were done in Oil Paint on Canvas.</p>
            </div>
        </div>
    </div>
</div>