<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("paintings/eligh.jpg", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Eligh</h3>
                <p>This is my very first painting. It is of the rapper Eligh, from his album therapy at 3.</p>
            </div>
        </div>
    </div>
    <%= render :layout=> "layouts/portfolio.html.erb" do %>
    <% end %>
</div>