<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("paintings/lizard.jpg", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Larry E. Lizard</h3>
                <p>This painting was the last painting I did for the first painting class I took in College.</p>
            </div>
        </div>
    </div>
        <%= render :layout=> "layouts/portfolio.html.erb" do %>
    <% end %>
</div>