<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("digital_illustrations/Witches-be-shoppin.png", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Monster Mega Mart</h3>
                <p>Monster Mega Mart was created from the phrase b-----s be shoppin'.</p>
            </div>
        </div>
    </div>
        <%= render :layout=> "layouts/portfolio.html.erb" do %>
    <% end %>
</div>