<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("digital_illustrations/screwed.gif", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Screwed</h3>
                <p>Screwed was a project I did for school. The project required two silhouettes making a third silhouette.</p>
            </div>
        </div>
    </div>
        <%= render :layout=> "layouts/portfolio.html.erb" do %>
    <% end %>
</div>