<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8 picture">
                <%= image_tag("digital_illustrations/meat-face.png", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Toby's steak face</h3>
                <p>This is the face my dog makes when you eat meat or just about anything around him.</p>
            </div>
        </div>
    </div>
</div>