
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <%= image_tag("paintings/stella-rs.jpg", :alt=> "oil painting of stella the pug looking at a strawberry", :class=> "img-show", :id=> "img1" ) %>
            </div>
            <div class="col-md-4">
                <h3 class="graye">Stella</h3>
                <p>Stella was part of a two piece project I did for my Mom, along with another 5 x 6 oil painting of her other Dog, Tessa. The Paintings were done in Oil Paint on Canvas.</p>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-8">
                <%= image_tag("paintings/RLstella.jpg", alt:"actual picture of my parents pug Stella looking at a strawberry", class:"img-show", id:"img2" ) %>
            </div>                
        </div>
        </div>
    </div>
</div>