/*
Error: Invalid CSS after "...+, Safari 7+ *\/": expected "{", was ""
        on line 50 of /home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss

45: 
46: 
47: // cheat sheet
48: // background: #5CFFF0; /* fallback for old browsers *\/
49: // background: -webkit-linear-gradient(to left, #5CFFF0 , #647CFF); /* Chrome 10-25, Safari 5.1-6 *\/
50: // background: linear-gradient(to left, #5CFFF0 , #647CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *\/

Backtrace:
/home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss:50
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:15:in `<main>'
*/
/*
 *= require jquery-ui
 */
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...+, Safari 7+ */\": expected \"{\", was \"\"\A         on line 50 of /home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss\A \A 45: \A 46: \A 47: // cheat sheet\A 48: // background: #5CFFF0; /* fallback for old browsers */\A 49: // background: -webkit-linear-gradient(to left, #5CFFF0 , #647CFF); /* Chrome 10-25, Safari 5.1-6 */\A 50: // background: linear-gradient(to left, #5CFFF0 , #647CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */"; }
