@import 'bootstrap-sprockets';
@import 'bootstrap';

// Navbar Styles

.navbar-brand, .navbar-default {
    font-family: 'Paytone One', sans-serif;
}

// Body styles

body {
    background: #5CFFF0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5ED5E8 , #62C4FF , #5D92E8 , #647CFF ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5ED5E8 , #62C4FF , #5D92E8 , #647CFF ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 70px; // due to navbar-fixed-top, give padding so items dont start out clipped by navbar
    color: white;
    
}

h1, h2, h3, {
    font-family: 'Paytone One', sans-serif;
}

.thumbnail {
    height: 300px;
    width: 400px;
}

.thumbnail > img, .thumbnail a > img {
    height: 189px;
}

p {
    color: gray;
    line-height: 2;
}

label {
    color: gray;
    font-family: 'Paytone One', sans-serif;
}

.btn {
    font-family: 'Paytone One', sans-serif;
}
// Font styles


// picture showing stuff
.img-show {
    width: 100%;
    border-radius: 5px;
}
 .expand {
    display: inline-block;
    position: fixed;
    text-align: center;
     width: 1000px;
     background-color: black, 0.9;
     
     z-index: 9;
     
 }
.graye {
    color: gray;
}
// cheat sheet
// background: #5CFFF0; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #5CFFF0 , #647CFF); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #5CFFF0 , #647CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */